header {
    .audio-wrapper {
        @include onlyMobile {
            display: none;
        }

        audio {
            margin-top: 10em;
            background-color: #f9eee1;
            filter: invert(1);
            border-radius: 100px;

            &::-webkit-media-controls-panel {
                background-color: #f9eee1;
            }
        }
    }
}