.drip-wrapper {
    grid-gap: 30px;
    margin: 20px 0 30px;

    @include mediumScreen {
        grid-gap: 60px;
    }

    h2 {
        text-align: left;
        margin-bottom: 30px;
    }

    .drip-images {
        display: flex;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;

        @include mediumScreen {
            grid-gap: 60px;
        }

        >* {
            display: flex;
            justify-content: center;
        }

        div {
            img {
                max-width: 100%;
                height: auto;
                @include mediumScreen {
                    max-height: 300px;
                }
            }
        }
    }
}