/* IMPORTS */
@import "variables-and-mixins";
@import "resets";
@import "rwd-queries";
@import "mouse-scroll";

/* FONTFACE */
@font-face {
    font-family: HYWenHei Extended;
    src: url('../HYWenHei Extended.ttf');
}

/* MY CSS */

header {
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba($bg-color, 0) 60%, $bg-color), url("../images/Columbina_countdown_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include mediumScreen {
        min-height: 100vh;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 0.5em;

        @include largeScreen {
            font-size: 2vw;
        }
    }

    h2 {
        font-size: 6vw;

        @include largeScreen {
            font-size: 4vw;
        }
    }

    h3 {
        font-size: 2vw;
        margin-top: 0.5em;

        @include largeScreen {
            font-size: 1vw;
        }
    }
}

main {
    margin: 30px auto;
    padding: 0 20px;
    max-width: 500px;

    @include mediumScreen {
        max-width: 1200px;
        padding: 0 50px;
        margin: 30px auto;
    }

    @include largeScreen {}

    h1 {
        text-align: left;
        font-size: 24px;
        margin-bottom: 5px;
    }

    p.obs {
        font-size: 12px;
        opacity: 0.5;
        margin-bottom: 30px;
    }

    .prefarm-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;

        @include mediumScreen {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 60px;
        }

        h2 {
            text-align: left;
            margin-bottom: 30px;
        }

        .character-materials-wrapper,
        .signature-materials-wrapper {

            .item-image {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                img {
                    max-height: 150px;

                    @include largeScreen {
                        max-height: 200px;
                    }
                }
            }

            .materials-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;

                @include mediumScreen {
                    grid-template-columns: repeat(5, 1fr);
                }

                .individual-material {
                    height: 80px;
                    border-radius: 10px;
                    display: flex;
                    flex-flow: column;

                    @include largeScreen {
                        height: 100px;
                    }

                    &.gold {
                        background-image: linear-gradient(160deg, $gold-dark, $gold-light);
                    }

                    &.purple {
                        background-image: linear-gradient(160deg, $purple-dark, $purple-light);
                    }

                    &.blue {
                        background-image: linear-gradient(160deg, $blue-dark, $blue-light);
                    }

                    &.green {
                        background-image: linear-gradient(160deg, $green-dark, $green-light);
                    }

                    &.grey {
                        background-image: linear-gradient(160deg, $grey-dark, $grey-light);
                    }

                    .material-image {
                        flex-grow: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-height: 50px;
                            max-width: 50px;
                            width: auto;

                            @include largeScreen {
                                max-height: 60px;
                                max-width: 60px;
                            }
                        }
                    }

                    .material-qty {
                        height: 20px;
                        border-radius: 0 0 10px 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(black, 0.5);

                        @include largeScreen {
                            height: 25px;
                        }

                        p {
                            text-align: center;
                            font-size: 12px;

                            @include largeScreen {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .inner-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        z-index: 2;
        background: darken($bg-color, 2.5%);
        min-height: 60px;


        font-size: .8rem;

        @include onlyMobile {
            padding: 15px 30px;
            flex-direction: column;
        }

        @include mediumScreen {
            font-size: .9rem;
        }

        @include largeScreen {
            padding: 0 80px;
        }

        .signature-wrap {
            display: flex;
            flex-flow: column;
            grid-gap: 5px;

            @include onlyMobile {
                margin-bottom: 15px;
            }

            #signature,
            #donate {
                opacity: .2;
                text-align: center;
                transition: ease .2s;

                &:hover {
                    opacity: 1;
                }

                a,
                a:link,
                a:visited,
                a:hover {
                    text-decoration: none;
                }

                @include mediumScreen {
                    text-align: left;
                }
            }
        }

        .other-links {
            display: flex;
            flex-direction: row;
            grid-gap: 20px;

            @include mediumScreen {
                grid-gap: 30px;
            }

            a {
                img {
                    height: 30px;

                    opacity: .2;
                    transition: ease .2s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}